DATA_BASE_URL=Server=Server=serverAddress;Port=6666;Database=databaseName;User ID=userName;Password=123;SslMode=none;CharSet=latin1;Connection Timeout=60;
APP_PASSWORD=123
JWT_SECRET=123
STORAGE_BASE_URL=https://www.google.com.br/
FTP_SERVER=address.ftp.com
FTP_USERNAME=username1
FTP_PASSWORD=123